[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Browsers under RAM
Name[az]=RAM altında olan brauzerlər
Name[bg]=Браузъри под RAM
Name[bn]=RAM এর অধীনে ব্রাউজার
Name[ca]=Navegadors sota RAM
Name[cs]=Prohlížeče pod RAM
Name[da]=Browsere under RAM
Name[de]=Browser unter RAM
Name[el]=Προγράμματα περιήγησης κάτω από τη μνήμη RAM
Name[eo]=Retumiloj sub RAM
Name[es]=Navegadores bajo RAM
Name[et]=RAM-i all olevad brauserid
Name[fi]=Selaimet RAM-muistin alla
Name[fr]=Navigateurs sous RAM
Name[hi]=रैम के तहत ब्राउज़र
Name[hr]=Preglednici ispod RAM-a
Name[hu]=Böngészők RAM alatt
Name[id]=Browser di bawah RAM
Name[it]=Browser sotto RAM
Name[ja]=RAM の下のブラウザ
Name[ko]=RAM 아래의 브라우저
Name[lt]=Naršyklės su RAM
Name[lv]=Pārlūkprogrammas zem RAM
Name[ms]=Pelayar di bawah RAM
Name[nb]=Nettlesere under RAM
Name[nl]=Browsers onder RAM
Name[no]=Nettlesere under RAM
Name[pl]=Przeglądarki pod RAM
Name[pt]=Navegadores na RAM
Name[ro]=Browsere sub RAM
Name[sk]=Prehliadače pod RAM
Name[sl]=Brskalniki pod RAM-om
Name[sr]=Прегледачи под РАМ-ом
Name[sv]=Webbläsare under RAM
Name[te]=RAM కింద బ్రౌజర్లు
Name[tl]=Mga browser sa ilalim ng RAM
Name[tr]=RAM altındaki tarayıcılar
Name[uk]=Браузери під оперативну пам'ять
Name[vi]=Trình duyệt dưới RAM
Name[zh]=RAM下的浏览器
GenericName=Configure your Browsers to be used on RAM and increase the lifespan of your SSD hard disks
GenericName[az]=Brauzerlərinizi RAM-da istifadə etmək üçün konfiqurasiya edin və SSD sabit disklərinizin ömrünü artırın
GenericName[bg]=Конфигурирайте вашите браузъри да се използват в RAM и увеличете живота на вашите SSD твърди дискове
GenericName[bn]=আপনার ব্রাউজারগুলিকে RAM-তে ব্যবহার করার জন্য কনফিগার করুন এবং আপনার SSD হার্ড ডিস্কের আয়ু বৃদ্ধি করুন
GenericName[ca]=Configureu els vostres navegadors perquè s'utilitzin a la memòria RAM i augmenteu la vida útil dels vostres discs durs SSD
GenericName[cs]=Nakonfigurujte své prohlížeče tak, aby se používaly na RAM a zvyšte životnost pevných disků SSD
GenericName[da]=Konfigurer dine browsere til at blive brugt på RAM og øg levetiden på dine SSD-harddiske
GenericName[de]=Konfigurieren Sie Ihre Browser für die Verwendung im Arbeitsspeicher und verlängern Sie die Lebensdauer Ihrer SSD-Festplatten
GenericName[el]=Διαμορφώστε τα προγράμματα περιήγησής σας για χρήση στη μνήμη RAM και αυξήστε τη διάρκεια ζωής των σκληρών δίσκων SSD
GenericName[eo]=Agordu viajn Retumiloj por esti uzataj sur RAM kaj pliigu la vivdaŭron de viaj SSD-diskoj
GenericName[es]=Configure sus navegadores para que se utilicen en RAM y aumente la vida útil de sus discos duros SSD
GenericName[et]=Seadistage oma brauserid RAM-i kasutamiseks ja pikendage oma SSD-kõvaketaste eluiga
GenericName[fi]=Määritä selaimesi RAM-muistiin ja pidennä SSD-kiintolevyjesi käyttöikää
GenericName[fr]=Configurez vos navigateurs pour être utilisés sur RAM et augmentez la durée de vie de vos disques durs SSD
GenericName[hi]=अपने ब्राउज़र को RAM पर उपयोग करने के लिए कॉन्फ़िगर करें और अपने SSD हार्ड डिस्क का जीवनकाल बढ़ाएँ
GenericName[hr]=Konfigurirajte svoje preglednike za korištenje na RAM-u i produžite životni vijek vaših SSD tvrdih diskova
GenericName[hu]=Konfigurálja böngészőit RAM-mal való használatra, és növelje az SSD merevlemezek élettartamát
GenericName[id]=Konfigurasikan Browser Anda untuk digunakan pada RAM dan tingkatkan masa pakai hard disk SSD Anda
GenericName[it]=Configura i tuoi browser per essere utilizzati sulla RAM e aumenta la durata dei tuoi dischi rigidi SSD
GenericName[ja]=ブラウザを RAM 上で使用するように構成し、SSD ハードディスクの寿命を延ばします
GenericName[ko]='RAM에서 사용하도록 브라우저를 구성하고 SSD 하드 디스크의 수명을 늘립니다.'
GenericName[lt]=Sukonfigūruokite savo naršykles, kad jos būtų naudojamos RAM ir padidinkite SSD standžiųjų diskų tarnavimo laiką
GenericName[lv]=Konfigurējiet pārlūkprogrammas, lai tās izmantotu RAM, un palieliniet SSD cieto disku kalpošanas laiku
GenericName[ms]=Konfigurasikan Penyemak Imbas anda untuk digunakan pada RAM dan tingkatkan jangka hayat cakera keras SSD anda
GenericName[nb]=Konfigurer nettleserne til å brukes på RAM og øk levetiden til SSD-harddiskene dine
GenericName[nl]=Configureer uw browsers voor gebruik op RAM en verleng de levensduur van uw SSD-harde schijven
GenericName[no]=Konfigurer nettleserne til å brukes på RAM og øk levetiden til SSD-harddiskene dine
GenericName[pl]=Skonfiguruj przeglądarki tak, aby korzystały z pamięci RAM i zwiększ żywotność dysków twardych SSD
GenericName[pt]=Configure seus navegadores para serem usados em RAM e aumente a vida útil de seus discos rígidos SSD
GenericName[ro]=Configurați-vă browserele pentru a fi utilizate pe RAM și creșteți durata de viață a hard disk-urilor SSD
GenericName[sk]=Nakonfigurujte svoje prehliadače na používanie s pamäťou RAM a zvýšte životnosť pevných diskov SSD
GenericName[sl]=Konfigurirajte svoje brskalnike za uporabo v RAM-u in podaljšajte življenjsko dobo svojih trdih diskov SSD
GenericName[sr]=Конфигуришите своје претраживаче да се користе на РАМ-у и продужите животни век ваших ССД чврстих дискова
GenericName[sv]=Konfigurera dina webbläsare för att användas på RAM och öka livslängden på dina SSD-hårddiskar
GenericName[te]=RAMలో ఉపయోగించడానికి మీ బ్రౌజర్లను కాన్ఫిగర్ చేయండి మరియు మీ SSD హార్డ్ డిస్క్ల జీవితకాలం పెంచండి
GenericName[tl]=I-configure ang iyong mga Browser na gagamitin sa RAM at taasan ang habang-buhay ng iyong mga SSD hard disk
GenericName[tr]=Tarayıcılarınızı RAM'de kullanılacak şekilde yapılandırın ve SSD sabit disklerinizin ömrünü artırın
GenericName[uk]=Налаштуйте ваші браузери для використання в оперативній пам’яті та подовжте термін служби жорстких дисків SSD
GenericName[vi]=Định cấu hình Trình duyệt của bạn sẽ được sử dụng trên RAM và tăng tuổi thọ của ổ cứng SSD của bạn
GenericName[zh]=配置您的浏览器以在 RAM 上使用并延长 SSD 硬盘的使用寿命
Icon=web-browser
TryExec=elive-browsers-on-ram
Exec=elive-browsers-on-ram configure
Terminal=false
Categories=System;Settings;
