[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Touchpad configurator
Name[az]=Touchpad konfiquratoru
Name[bg]=Конфигуратор на тъчпад
Name[bn]=টাচপ্যাড কনফিগারর
Name[ca]=Configuració del controlador tàctil
Name[cs]=Konfigurátor dotykové podložky
Name[da]=Touchpad-konfigurator
Name[de]=Touchpad-Konfigurator
Name[el]=Συντονιστής αφής
Name[eo]=Configurador de Touchpad
Name[es]=Configurador de Touchpad
Name[et]=Puuteplaadi konfigurator
Name[fi]=Kosketuslevyn konfiguraattori
Name[fr]=Configurateur du pavé tactile
Name[hi]=टचपैड कॉन्फ़िगरेटर
Name[hr]=Konfigurator dodirne podloge
Name[hu]=Touchpad konfigurátor
Name[id]=Konfigurasi Touchpad
Name[it]=Configuratore del touchpad
Name[ja]=タッチパッドコンフィギュレータ
Name[ko]=터치 패드 컨 피규 레이터
Name[lt]='Touchpad'konfigūravimo priemonė
Name[lv]=Touchpad konfigurators
Name[ms]=Penyemak pad sentuh
Name[nb]=Touchpad-konfigurator
Name[nl]=Touchpad-configurator
Name[no]=Touchpad-konfigurator
Name[pl]=Konfigurator tabliczki dotykowej
Name[pt]=Touchpad configurador
Name[ro]=Configurator touchpad
Name[sk]=Konfigurátor dotykovej plochy
Name[sl]=Konfigurator sledilne ploščice
Name[sr]=Конфигуратор тоуцхпад-а
Name[sv]=Touchpad-konfiguratorn
Name[te]=టచ్ప్యాడ్ ఆకృతీకరణ
Name[tl]=Touchpad configurator
Name[tr]=Touchpad yapılandırıcı
Name[uk]=Тачпад конфігуратор
Name[vi]=Trình cấu hình bàn di chuột
GenericName=Configure your touchpad mouse
GenericName[az]=Touchpad siçanınızı konfiqurasiya edin
GenericName[bg]=Конфигурирайте мишката на тъчпада
GenericName[bn]=আপনার টাচপ্যাড মাউস কনফিগার করুন
GenericName[ca]=Configureu el ratolí tàctil
GenericName[cs]=Nakonfigurujte myš myši touchpadu
GenericName[da]=Konfigurer din touchpad-mus
GenericName[de]=Konfigurieren Sie Ihre Touchpad-Maus
GenericName[el]=Ρυθμίστε το ποντίκι του touchpad
GenericName[eo]=Agordu vian touchpad-muson
GenericName[es]=Configure su mouse touchpad
GenericName[et]=Puutetundliku hiire seadistamine
GenericName[fi]=Määritä kosketuslevyn hiiri
GenericName[fr]=Configurez votre souris touchpad
GenericName[hi]=अपने टचपैड माउस को कॉन्फ़िगर करें
GenericName[hr]=Konfigurirajte miš osjetljiv na dodir
GenericName[hu]=Konfigurálja az érintőpad egeret
GenericName[id]=Konfigurasikan mouse touchpad Anda
GenericName[it]=Configura il tuo mouse touchpad
GenericName[ja]=タッチパッドのマウスを設定する
GenericName[ko]=터치 패드 마우스 구성
GenericName[lt]=Konfigūruoti pelės jutiklinį pelę
GenericName[lv]=Konfigurējiet savu touchpad peli
GenericName[ms]=Konfigurasikan tetikus pad sentuh anda
GenericName[nb]=Konfigurer din pekefeltmus
GenericName[nl]=Configureer uw touchpad-muis
GenericName[no]=Konfigurer din pekefeltmus
GenericName[pl]=Skonfiguruj swoją mysz touchpad
GenericName[pt]=Configure seu mouse do touchpad
GenericName[ro]=Configurați mouse-ul touchpadului
GenericName[sk]=Konfigurujte myšou touchpadu
GenericName[sl]=Konfigurirajte miško na dotik
GenericName[sr]=Конфигуриш свој миш тоуцхпад
GenericName[sv]=Konfigurera din pekplatta mus
GenericName[te]=మీ టచ్ప్యాడ్ మౌస్ను కన్ఫిగర్ చేయండి
GenericName[tl]=I-configure ang iyong touchpad mouse
GenericName[tr]=Touchpad farenizi yapılandırın
GenericName[uk]=Налаштуйте мишу для сенсорної панелі
GenericName[vi]=Định cấu hình chuột bàn di chuột của bạn
Icon=input-touchpad
TryExec=touchpad-configurator
Exec=touchpad-configurator -c
Terminal=false
Categories=System;Settings;
