[Desktop Entry]
Name=Support Elive
Name[az]=Elive'i dəstəkləyin
Name[bg]=Подкрепете Elive null
Name[bn]=Elive সমর্থন null
Name[ca]=Suport a Elive
Name[cs]=Podporujte Elive
Name[da]=Støtte Elive
Name[de]=Unterstützung Elive
Name[el]=Υποστήριξη του Elive null
Name[en]=Support Elive
Name[eo]=Subtenu Elive
Name[es]=Apoyo Elive
Name[et]=Toetage Elive
Name[fi]=Tuki Elive
Name[fr]=Support Elive
Name[hi]=समर्थन Elive null
Name[hr]=Podrška Elive
Name[hu]=Támogassa az Elive-t
Name[id]=Dukung elive
Name[it]=Supporto Elitario
Name[ja]=サポートエリブ null
Name[ko]=엘레 이브 지원 null
Name[lt]=Palaikykite Elive
Name[lv]=Atbalsta Elive
Name[ms]=Sokongan Elive
Name[nb]=Støtte Elive
Name[nl]=Steun Elive
Name[no]=Støtte Elive
Name[pl]=Wsparcie Elive
Name[pt]=Support Elive
Name[ro]=Suporta Elive
Name[sk]=Podporujte spoločnosť Elive
Name[sl]=Podpora Elive
Name[sr]=Подршка Еливе null
Name[sv]=Stöd Elive
Name[te]=మద్దతు ఇవ్వండి null
Name[tl]=Suportahan ang Elive
Name[tr]=Elif'i Destekle
Name[uk]=Підтримка Еліве null
Name[vi]=Hỗ trợ Elive
Comment=Improve Elive making it better
Comment[az]=Xeyli yaxşılaşdıran Elive yaxşılaşdırın
Comment[bg]=Подобрете работата на Elive null
Comment[bn]=Elive উন্নত এটি ভাল করা null
Comment[ca]=Milloreu Elive fent-ho millor
Comment[cs]=Zlepšete, aby se Elive zlepšila
Comment[da]=Forbedre Elive gør det bedre
Comment[de]=Verbessere Elive macht es besser
Comment[el]=Βελτιώστε το Elive κάνοντας το καλύτερο null
Comment[en]=Improve Elive making it better
Comment[eo]=Plibonigu Elive farante ĝin pli bone
Comment[es]=Mejore Elive haciéndolo mejor
Comment[et]=Parandage Elive, muutes selle paremaks
Comment[fi]=Paranna elävää parantamalla sitä
Comment[fr]=Améliore Elive en améliorant
Comment[hi]=Elive सुधार बेहतर बनाने null
Comment[hr]=Poboljšajte elitno što je bolje
Comment[hu]=Javítsa az Elive javítását
Comment[id]=Perbaiki Elive agar lebih baik
Comment[it]=Migliorare Elive rendendolo migliore
Comment[ja]=エリブの改善 null
Comment[ko]=Elive를 개선하여 더 좋아졌습니다. Null
Comment[lt]=Pagerinkite Elive, kad geriau
Comment[lv]=Uzlabojiet Elive, padarot to labāk
Comment[ms]=Tingkatkan Elive menjadikannya lebih baik
Comment[nb]=Forbedre Elive gjør det bedre
Comment[nl]=Verbeter Elive waardoor het beter wordt
Comment[no]=Forbedre Elive gjør det bedre
Comment[pl]=Popraw Elive lepiej
Comment[pt]=Melhore o Elive tornando-o melhor
Comment[ro]=Îmbunătățește-l pe Elive îmbunătățind-o
Comment[sk]=Zlepšite elive, aby ste to lepšie
Comment[sl]=Izboljšajte Elive, kar izboljša
Comment[sr]=Побољшајте Еливе што побољшава null
Comment[sv]=Förbättra Elive gör det bättre
Comment[te]=అది మెరుగుపరుస్తుంది null
Comment[tl]=Pagbutihin ang Elive na ginagawa itong mas mahusay
Comment[tr]=Elive'ı iyileştirerek daha iyi hale getirin
Comment[uk]=Покращити Елів, зробивши його краще null
Comment[vi]=Cải thiện Elive làm cho nó tốt hơn
Icon=logo-elive
Exec=elive-donations-support
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
