[Desktop Entry]
Name=Audio volumes restore
Name[az]=Audio həcmləri bərpa edin
Name[bg]=Аудио обемите се възстановяват
Name[bn]=অডিও ভলিউম পুনরুদ্ধার
Name[ca]=Restauració de volums d'àudio
Name[cs]=Obnovení hlasitosti zvuku
Name[da]=Lydvolumener gendannes
Name[de]=Audio-Volumes werden wiederhergestellt
Name[el]=Ο τόμος ήχου αποκαθίσταται
Name[eo]=Aŭdaj volumoj restarigas
Name[es]=Restauración de volúmenes de audio
Name[et]=Helitugevused taastatakse
Name[fi]=Äänenvoimakkuus palautuu
Name[fr]=Restaure les volumes audio
Name[hi]=ऑडियो संस्करण बहाल
Name[hr]=Vraćanje audio zapisa
Name[hu]=Az audió kötetek visszaállíthatók
Name[id]=Volume audio akan dikembalikan
Name[it]=Ripristino dei volumi audio
Name[ja]=オーディオボリュームのリストア
Name[ko]=오디오 볼륨 복원
Name[lt]=Garso tonai atkuriami
Name[lv]=Audio apjomi tiek atjaunoti
Name[ms]=Jumlah audio yang dipulihkan
Name[nb]=Lydvolum gjenopprett
Name[nl]=Geluidsvolumes worden hersteld
Name[no]=Lydvolum gjenopprett
Name[pl]=Przywracanie woluminów audio
Name[pt]=Restauração de volumes de áudio
Name[ro]=Recuperarea volumelor audio
Name[sk]=Obnovenie zvukového zväzku
Name[sl]=Obnovi zvok
Name[sr]=Вратити аудио записе
Name[sv]=Ljudvolymer återställs
Name[te]=ఆడియో వాల్యూమ్లను పునరుద్ధరించండి
Name[tl]=Ibalik ang mga volume ng audio
Name[tr]=Ses seviyeleri geri yükle
Name[uk]=Аудіо томи відновлюється
Name[vi]=Âm lượng khôi phục
Comment=Restore correct audio volumes at start
Comment[az]=Başlanğıcda düzgün audio həcmləri bərpa edin
Comment[bg]=Възстановявайте правилните аудиосистеми в началото
Comment[bn]=শুরুতে সঠিক অডিও ভলিউম পুনরুদ্ধার করুন
Comment[ca]=Restaura els volums d'àudio correctes al començament
Comment[cs]=Obnovte správné zvukové svazky na začátku
Comment[da]=Gendan korrekte lydmængder ved start
Comment[de]=Stellen Sie beim Start die korrekten Audiodaten wieder her
Comment[el]=Επαναφορά σωστών τόμων ήχου κατά την εκκίνηση
Comment[eo]=Restarigu korektajn aŭdajn volumojn komence
Comment[es]=Restaurar los volúmenes de audio correctos al inicio
Comment[et]=Taasta õige heli maht alguses
Comment[fi]=Palauta oikeat äänenvoimakkuudet alussa
Comment[fr]=Restaurez les volumes audio corrects au démarrage
Comment[hi]=शुरुआत में सही ऑडियो संस्करण पुनर्स्थापित करें
Comment[hr]=Vratite ispravne audio zapise na početak
Comment[hu]=A helyes hangerő visszaállítása az induláskor
Comment[id]=Kembalikan volume audio yang benar saat start
Comment[it]=Ripristina i volumi audio corretti all'avvio
Comment[ja]=開始時に正しいオーディオボリュームを復元する
Comment[ko]=시작시 올바른 오디오 볼륨 복원
Comment[lt]=Iš pradžių atkurkite teisingus garso tomus
Comment[lv]=Atjaunojiet pareizos audio apjomus sākumā
Comment[ms]=Pulihkan jumlah audio yang betul pada permulaan
Comment[nb]=Gjenopprett korrekte lydvolumer ved start
Comment[nl]=Herstel de juiste audiovolumes bij het opstarten
Comment[no]=Gjenopprett korrekte lydvolumer ved start
Comment[pl]=Przywróć prawidłowe głośności podczas startu
Comment[pt]=Restaure os volumes de áudio corretos no início
Comment[ro]=Restaurați volumele audio corecte la început
Comment[sk]=Obnovte správne zvukové zväzky na začiatku
Comment[sl]=Ob zagonu obnovite pravilne glasbene zvočne datoteke
Comment[sr]=Вратите тачне аудио записе на почетку
Comment[sv]=Återställ rätt ljudvolymer vid start
Comment[te]=ప్రారంభంలో సరైన ఆడియో వాల్యూమ్లను పునరుద్ధరించండి
Comment[tl]=Ibalik ang tamang mga volume ng audio sa simula
Comment[tr]=Başlangıçta doğru ses seviyelerini geri yükleyin
Comment[uk]=Відновити правильні обсяги звуку при запуску
Comment[vi]=Khôi phục âm thanh chính xác khi bắt đầu
Icon=logo-elive
Exec=elive-audio-fixes
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
