[Desktop Entry]
Name=Support Elive with Donations
Name[az]=Bağışlarla Elive dəstəyi
Name[bg]=Подкрепете Elive с дарения
Name[bn]=অনুদান সঙ্গে Elive সমর্থন
Name[ca]=Suport Elive amb donacions
Name[cs]=Podporujte společnost Elive s dary
Name[da]=Støtte Elive med donationer
Name[de]=Unterstützung mit Spenden
Name[el]=Υποστήριξη του Elive με δωρεές
Name[en]=Support Elive with Donations
Name[eo]=Subtenu Elive kun Donacoj
Name[es]=Soporte Elive con donaciones
Name[et]=Toetage Elive annetustega
Name[fi]=Tuki Elive kanssa lahjoituksia
Name[fr]=Soutenez Elive avec des dons
Name[hi]=दान के साथ Elive सहायता
Name[hr]=Podrška Elite with Donations
Name[hu]=Támogassa az Elive-t adományokkal
Name[id]=Dukung Elive dengan Donasi
Name[it]=Supporto Elitario con Donazioni
Name[ja]=寄付でエリブをサポート
Name[ko]=기부금으로 Elive를 지원하십시오
Name[lt]=Palaikykite'Elive'su aukomis
Name[lv]=Atbalstiet Elive ar ziedojumiem
Name[ms]=Sokongan Elive dengan Sumbangan
Name[nb]=Støtte Elive med donasjoner
Name[nl]=Steun Elive met donaties
Name[no]=Støtte Elive med donasjoner
Name[pl]=Wsparcie Elive z Darowizn
Name[pt]=Apoio Elive com Doações
Name[ro]=Suporta Elive cu donații
Name[sk]=Podporujte spoločnosť Elive s darmi
Name[sl]=Podpirajte Elive z donacijami
Name[sr]=Подржите Еливе са донацијама
Name[sv]=Stöd Elive med donationer
Name[te]=విరాళాలతో మద్దతు ఇవ్వండి
Name[tl]=Suportahan ang Elive with Donations
Name[tr]=Bağışlarla Elif Desteği
Name[uk]=Підтримка Еліва з пожертвуваннями
Name[vi]=Hỗ trợ Elive với sự đóng góp
Comment=Suggest a donation monthly to keep this project alive
Comment[az]=Bu layihəni canlı saxlamaq üçün bir aylıq ianə təklif edin
Comment[bg]=Предложете месечно дарение, за да поддържате този проект жив
Comment[bn]=এই প্রকল্প জীবিত রাখা মাসিক একটি দান সুপারিশ
Comment[ca]=Suggereix una donació mensual per mantenir viu aquest projecte
Comment[cs]=Navrhněte měsíční dar, aby byl tento projekt živý
Comment[da]=Foreslå en donation månedligt for at holde dette projekt levende
Comment[de]=Schlage monatlich eine Spende vor, um dieses Projekt am Leben zu erhalten
Comment[el]=Προτείνετε μια δωρεά μηνιαίως για να κρατήσετε ζωντανό αυτό το έργο
Comment[en]=Suggest a donation monthly to keep this project alive
Comment[eo]=Proponu monatan donacon por konservi ĉi tiun projekton viva
Comment[es]=Sugiera una donación mensual para mantener vivo este proyecto
Comment[et]=Soovita annetusi kuus, et see projekt oleks elus
Comment[fi]=Ehdota lahjoitusta kuukausittain pitämään tämä projekti elossa
Comment[fr]=Proposer un don mensuel pour garder ce projet en vie
Comment[hi]=इस परियोजना को जिंदा रखने के लिए एक दान का मासिक सुझाव दें
Comment[hr]=Predložite mjesečnu donaciju kako bi ovaj projekt živ
Comment[hu]=Javasoljon egy adományt havonta, hogy életben tartsa ezt a projektet
Comment[id]=Sarankan sumbangan setiap bulan agar proyek ini tetap hidup
Comment[it]=Suggerisci una donazione mensile per mantenere vivo questo progetto
Comment[ja]=このプロジェクトを生き続けるために毎月寄付を提案する
Comment[ko]=이 프로젝트를 지속시키기 위해 매달 기부 제안
Comment[lt]=Siūlykite mėnesinį auką, kad šis projektas būtų gyvas
Comment[lv]=Ieteikt ziedojumu katru mēnesi, lai šis projekts būtu dzīvs
Comment[ms]=Cadangkan sumbangan bulanan untuk memastikan projek ini terus hidup
Comment[nb]=Foreslå en donasjon hver måned for å holde dette prosjektet levende
Comment[nl]=Stel maandelijks een donatie voor om dit project levend te houden
Comment[no]=Foreslå en donasjon hver måned for å holde dette prosjektet levende
Comment[pl]=Zaproponuj darowiznę miesięczną, aby utrzymać ten projekt
Comment[pt]=Sugira uma doação mensal para manter este projeto vivo
Comment[ro]=Sugerați o donație lunară pentru a menține acest proiect în viață
Comment[sk]=Navrhnite mesačnú darcovskú podporu, aby bol tento projekt nažive
Comment[sl]=Predlagajte mesečno donacijo za ohranitev tega projekta
Comment[sr]=Предложите донацију месечно како би овај пројекат био жив
Comment[sv]=Föreslå en donation varje månad för att hålla detta projekt levande
Comment[te]=ఈ ప్రాజెక్ట్ను సజీవంగా ఉంచడానికి నెలవారీ విరాళాన్ని సూచించండి
Comment[tl]=Magmungkahi ng buwanang donasyon upang mapanatiling buhay ang proyektong ito
Comment[tr]=Bu projeyi canlı tutmak için her ay bir bağış önerin
Comment[uk]=Запропонуйте пожертвування щомісяця, щоб цей проект був живий
Comment[vi]=Đề nghị đóng góp hàng tháng để duy trì dự án này
Icon=logo-elive
Exec=elive-donations-support
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
