[Desktop Entry]
Name=Elive reconfigurations
Comment=Auto detects needed reconfigurations in your system
Comment[az]=Avtomatik sisteminizdə lazımi yenidən konfiqurasiyaları algılar
Comment[bg]=Автоматично разпознава необходимите реконфигуриране във вашата система
Comment[bn]=স্বয়ংক্রিয়ভাবে আপনার সিস্টেমের মধ্যে পুনরায় কনফিগারেশন প্রয়োজন সনাক্ত করে
Comment[ca]=Detecta automàticament les reconfiguracions necessàries al vostre sistema
Comment[cs]=Automatické rozpoznání potřebných rekonfigurací ve vašem systému
Comment[da]=Auto registrerer nødvendige rekonfigurationer i dit system
Comment[de]=Auto erkennt notwendige Rekonfigurationen in Ihrem System
Comment[el]=Η αυτόματη ανίχνευση απαιτεί τις αναδιαμορφώσεις στο σύστημά σας
Comment[eo]=Aŭtomate detektas necesajn rekomendojn en via sistemo
Comment[es]=Detecta automáticamente las reconfiguraciones necesarias en su sistema
Comment[et]=Automaatne tuvastab teie süsteemis vajalikud ümberkonfiguratsioonid
Comment[fi]=Auto havaitsee tarvittavat uudelleenkonfiguroinnit järjestelmässäsi
Comment[fr]=Détecte automatiquement les reconfigurations nécessaires dans votre système
Comment[hi]=स्वत: आपके सिस्टम में पुन: कॉन्फ़िगरेशन की आवश्यकता का पता लगाता है
Comment[hr]=Automatski prepoznaje potrebne rekonfiguracije u vašem sustavu
Comment[hu]=Az automatikus felismeri a szükséges átkonfigurációkat a rendszerben
Comment[id]=Auto mendeteksi konfigurasi ulang yang diperlukan di sistem Anda
Comment[it]=Rileva automaticamente le necessarie riconfigurazioni nel sistema
Comment[ja]=システムで必要な再構成を自動検出する
Comment[ko]=자동은 시스템에서 필요한 재구성을 감지합니다.
Comment[lt]=Automatinis nustato jūsų sistemoje reikalingas pertvarkymo funkcijas
Comment[lv]=Automātiski nosaka nepieciešamās pārfigurācijas jūsu sistēmā
Comment[ms]=Auto mengesan konfigurasi semula yang diperlukan dalam sistem anda
Comment[nb]=Auto oppdager nødvendige rekonfigurasjoner i systemet
Comment[nl]=Auto detecteert benodigde herconfiguraties in uw systeem
Comment[no]=Auto oppdager nødvendige rekonfigurasjoner i systemet
Comment[pl]=Auto wykrywa potrzebne rekonfiguracje w twoim systemie
Comment[pt]=Auto detecta reconfigurações necessárias no seu sistema
Comment[ro]=Auto detectează reconfigurațiile necesare în sistemul dvs.
Comment[sk]=Auto rozpozná potrebnú konfiguráciu vo vašom systéme
Comment[sl]=Samodejno zazna potrebne rekonfiguracije v vašem sistemu
Comment[sr]=Ауто детектује потребне реконфигурације у вашем систему
Comment[sv]=Auto upptäcker nödvändiga omkonfigurationer i ditt system
Comment[te]=ఆటో మీ వ్యవస్థలో అవసరమైన పునఃఆకృతీకరణలను గుర్తించును
Comment[tl]=Nakita ng auto ang mga kinakailangang reconfigurations sa iyong system
Comment[tr]=Otomatik, sisteminizde gerekli yeniden yapılandırmaları algılar
Comment[uk]=Автоматично виявляє необхідні реконфігурації у вашій системі
Comment[vi]=Tự động dò tìm các cấu hình cần thiết trong hệ thống của bạn
Icon=logo-elive
Exec=elive-reconfigurations
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
