[Desktop Entry]
Name=Enable Wifi
Name[az]=Wifi'yi aktiv edin
Name[bg]=Активиране на Wi-Fi null
Name[bn]=ওয়াইফাই সক্ষম করুন null
Name[ca]=Activar Wi-Fi
Name[cs]=Povolit Wifi
Name[da]=Aktivér Wifi
Name[de]=Wifi aktivieren
Name[el]=Ενεργοποιήστε το Wi-Fi null
Name[en]=Enable Wifi
Name[eo]=Ebligi Wifi
Name[es]=Habilitar Wifi
Name[et]=Luba Wifi
Name[fi]=Ota Wifi käyttöön
Name[fr]=Activer Wifi
Name[hi]=वाईफ़ाई को सक्षम करें null
Name[hr]=Omogući Wi-Fi
Name[hu]=Engedélyezze a Wifi engedélyezést
Name[id]=Aktifkan Wifi
Name[it]=Attiva Wifi
Name[ja]=Wi-Fiを有効にする null
Name[ko]=Wi-Fi 사용 설정 null
Name[lt]=Įjunkite'Wi-Fi'
Name[lv]=Iespējot Wi-Fi
Name[ms]=Dayakan Wifi
Name[nb]=Aktiver Wifi
Name[nl]=Wifi inschakelen
Name[no]=Aktiver Wifi
Name[pl]=Włącz wifi
Name[pt]=Ativar Wifi
Name[ro]=Activați Wifi
Name[sk]=Povoliť Wifi
Name[sl]=Omogoči WiFi
Name[sr]=Омогући Вифи null
Name[sv]=Aktivera WiFi
Name[te]=Wifi ని ప్రారంభించండి null
Name[tl]=Paganahin ang Wifi
Name[tr]=Wifi'yi etkinleştir
Name[uk]=Увімкнути Wi-Fi null
Name[vi]=Bật Wifi
Comment=Unblock always wifi at booting
Comment[az]=Önyargının açılmasından həmişə wifi çıxartın
Comment[bg]=Отблокирайте винаги Wi-Fi при зареждане null
Comment[bn]=বুটিং করার সময় সবসময় ওয়াইফাই অবরোধ করুন null
Comment[ca]=Desbloqueja sempre Wi-Fi a l'arrencada
Comment[cs]=Odblokujte vždy při zavádění wifi
Comment[da]=Fjern altid blokering af wifi ved opstart
Comment[de]=Entriegeln Sie immer wifi beim Booten
Comment[el]=Ξεκλειδώστε πάντα το wifi κατά την εκκίνηση null
Comment[en]=Unblock always wifi at booting
Comment[eo]=Desbloquear ĉiam WiFi en ekkuro
Comment[es]=Desbloquear siempre wifi al arrancar
Comment[et]=Tühista alati WiFi-ga käivitamisel
Comment[fi]=Avaa aina wifi käynnistyksen yhteydessä
Comment[fr]=Débloquer toujours wifi au démarrage
Comment[hi]=बूटिंग पर हमेशा वाईफ़ाई को अनवरोधित करें null
Comment[hr]=Odblokiraj sve Wi-Fi pri dizanju
Comment[hu]=A bootoláskor mindig engedélyezze a Wi-Fi feloldását
Comment[id]=Bebaskan selalu wifi saat booting
Comment[it]=Sblocca sempre wifi all'avvio
Comment[ja]=起動時に常にWi-Fiのブロックを解除する null
Comment[ko]=부팅 할 때 항상 Wi-Fi 차단 해제 null
Comment[lt]=Visada išjunkite'Wi-Fi'paleidžiant
Comment[lv]=Atlaist vienmēr Wi-Fi atbloķēšanu
Comment[ms]=Buka soket wifi semasa boot
Comment[nb]=Unblock alltid wifi ved oppstart
Comment[nl]=Ontkoppel altijd wifi bij opstarten
Comment[no]=Unblock alltid wifi ved oppstart
Comment[pl]=Odblokuj zawsze wifi przy starcie
Comment[pt]=Desbloquear sempre wifi no arranque
Comment[ro]=Deblocați întotdeauna wifi la pornire
Comment[sk]=Odblokujte vždy pri zavádzaní Wi-Fi
Comment[sl]=Odblokirajte vedno wifi pri zagonu
Comment[sr]=Одблокирајте увек вифи при покретању null
Comment[sv]=Avblockera alltid wifi vid uppstart
Comment[te]=బూటింగ్లో ఎల్లప్పుడూ wifi ని అన్బ్లాక్ చేయండి null
Comment[tl]=I-unblock laging wifi sa booting
Comment[tr]=Açılışta her zaman wifi'yi engelleme
Comment[uk]=Розблокувати завжди wifi під час завантаження null
Comment[vi]=Bỏ chặn luôn wifi khi khởi động
Icon=logo-elive
Exec=rfkill-unblock-all
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
