[Desktop Entry]
Name=Enable Wifi
Name[az]=Wifi'yi aktiv edin
Name[bg]=Активиране на Wi-Fi
Name[bn]=ওয়াইফাই সক্ষম করুন
Name[ca]=Habiliteu Wi-Fi
Name[cs]=Povolit Wifi
Name[da]=Aktivér Wifi
Name[de]=WLAN aktivieren
Name[el]=Ενεργοποιήστε το Wi-Fi
Name[eo]=Ebligu Wifi
Name[es]=Habilitar Wifi
Name[et]=Luba Wifi
Name[fi]=Ota Wifi käyttöön
Name[fr]=Activer Wifi
Name[hi]=वाईफ़ाई को सक्षम करें
Name[hr]=Omogući Wi-Fi
Name[hu]=A Wifi engedélyezése
Name[id]=Aktifkan Wifi
Name[it]=Abilita Wifi
Name[ja]=Wi-Fiを有効にする
Name[ko]=Wi-Fi 사용 설정
Name[lt]=Įgalinti'Wi-Fi'
Name[lv]=Iespējot Wi-Fi
Name[ms]=Dayakan Wifi
Name[nb]=Aktiver Wifi
Name[nl]=Schakel wifi in
Name[no]=Aktiver Wifi
Name[pl]=Włącz Wi-Fi
Name[pt]=Ativar Wifi
Name[ro]=Activați Wifi
Name[sk]=Povoliť službu Wifi
Name[sl]=Omogoči WiFi
Name[sr]=Омогући Вифи
Name[sv]=Aktivera WiFi
Name[te]=Wifi ని ప్రారంభించండి
Name[tl]=Paganahin ang Wifi
Name[tr]=Wifi'yi etkinleştir
Name[uk]=Увімкнути Wi-Fi
Name[vi]=Bật Wifi
Comment=Unblock always wifi at booting
Comment[az]=Önyükleme zamanı hər zaman Wi-Fi-dən çıxartın
Comment[bg]=Отблокирайте винаги Wi-Fi при зареждане
Comment[bn]=সবসময় বুটিং এ ওয়াইফাই অবরোধ সরান
Comment[ca]=Desbloqueja sempre Wi-Fi a l'arrencada
Comment[cs]=Odblokujte vždy při zavádění wifi
Comment[da]=Fjern altid blokering af wifi ved opstart
Comment[de]=Entsperren immer Wifi beim Booten
Comment[el]=Ξεκλειδώστε πάντα το wifi κατά την εκκίνηση
Comment[eo]=Malŝalti ĉiam wifi ĉe boto
Comment[es]=Desbloquear siempre wifi en el arranque
Comment[et]=Tühjenda alati wifi käivitamisel
Comment[fi]=Avaa aina wifi käynnistyksen yhteydessä
Comment[fr]=Débloquer toujours le wifi au démarrage
Comment[hi]=बूटिंग पर हमेशा वाईफ़ाई को अनवरोधित करें
Comment[hr]=Odblokiraj sve Wi-Fi pri dizanju
Comment[hu]=A rendszerindításkor mindig engedélyezze a Wi-Fi feloldását
Comment[id]=Unblock selalu wifi saat booting
Comment[it]=Sblocca sempre il wifi all'avvio
Comment[ja]=起動時に常にWi-Fiのブロックを解除する
Comment[ko]=부팅 할 때 항상 Wi-Fi 차단 해제
Comment[lt]=Visada išjunkite'Wi-Fi'paleidžiant
Comment[lv]=Atbloķēt vienmēr wifi booting
Comment[ms]=Buka soket wifi semasa boot
Comment[nb]=Unblock alltid wifi ved oppstart
Comment[nl]=Deblok altijd wifi bij het opstarten
Comment[no]=Unblock alltid wifi ved oppstart
Comment[pl]=Odblokuj zawsze wifi podczas uruchamiania
Comment[pt]=Desbloquear sempre wifi na inicialização
Comment[ro]=Deblocați întotdeauna wifi la pornire
Comment[sk]=Odblokovať vždy wifi pri zavádzaní
Comment[sl]=Odblokirajte vedno wifi pri zagonu
Comment[sr]=Одблокирајте увек вифи при покретању
Comment[sv]=Unblock alltid wifi vid uppstart
Comment[te]=బూటింగ్లో ఎల్లప్పుడూ WiFi ని అన్బ్లాక్ చేయండి
Comment[tl]=I-unblock laging wifi sa booting
Comment[tr]=Açılışta her zaman wifi'yi engelleme
Comment[uk]=Розблокувати завжди wifi при завантаженні
Comment[vi]=Bỏ chặn luôn wifi khi khởi động
Icon=logo-elive
Exec=rfkill-unblock-all
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
