[Desktop Entry]
Name=Touchpad configurations
Name[az]=Touchpad konfiqurasiyası
Name[bg]=Конфигурации за тъчпад
Name[bn]=টাচপ্যাড কনফিগারেশনস
Name[ca]=Configuració del touchpad
Name[cs]=Konfigurace dotykové plochy
Name[da]=Touchpad-konfigurationer
Name[de]=Touchpad-Konfigurationen
Name[el]=Ρυθμίσεις Touchpad
Name[eo]=Agordoj de Touchpad
Name[es]=Configuraciones de panel táctil
Name[et]=Puuteplaadi konfiguratsioonid
Name[fi]=Kosketuslevyn kokoonpanot
Name[fr]=Configurations du pavé tactile
Name[hi]=टचपैड विन्यास
Name[hr]=Konfiguracije dodirne podloge
Name[hu]=Érintőtábla-konfigurációk
Name[id]=Konfigurasi touchpad
Name[it]=Configurazioni del touchpad
Name[ja]=タッチパッドの構成
Name[ko]=터치 패드 구성
Name[lt]=Jutiklinės konfigūracijos
Name[lv]=Skārienpaneļa konfigurācijas
Name[ms]=Konfigurasi pad sentuh
Name[nb]=Touchpad-konfigurasjoner
Name[nl]=Touchpad-configuraties
Name[no]=Touchpad-konfigurasjoner
Name[pl]=Konfiguracje touchpada
Name[pt]=Configurações do touchpad
Name[ro]=Setările touchpad-ului
Name[sk]=Konfigurácie touchpadu
Name[sl]=Konfiguracije sledilne ploščice
Name[sr]=Конфигурације додирне табле
Name[sv]=Touchpad-konfigurationer
Name[te]=టచ్ప్యాడ్ కాన్ఫిగరేషన్లు
Name[tl]=Mga configuration ng touchpad
Name[tr]=Touchpad yapılandırmaları
Name[uk]=Конфігурації тачпада
Name[vi]=Cấu hình bàn di chuột
Comment=Configurations for your touchpad mouse
Comment[az]=Touchpad siçanınız üçün konfiqurasiyalar
Comment[bg]=Конфигурации за мишката на тъчпада
Comment[bn]=আপনার টাচপ্যাড মাউসের জন্য কনফিগারেশন
Comment[ca]=Configuracions del ratolí tàctil
Comment[cs]=Konfigurace myši touchpadu
Comment[da]=Konfigurationer til din touchpad-mus
Comment[de]=Konfigurationen für Ihre Touchpad-Maus
Comment[el]=Διαμορφώσεις για το ποντίκι του touchpad
Comment[eo]=Agordoj por via touchpad-muso
Comment[es]=Configuraciones para su mouse touchpad
Comment[et]=Puuteplaadi hiire konfiguratsioonid
Comment[fi]=Kosketuslevyn hiiren määritykset
Comment[fr]=Configurations pour votre souris touchpad
Comment[hi]=आपके टचपैड माउस के लिए कॉन्फ़िगरेशन
Comment[hr]=Konfiguracije vašeg miša za dodirnu ploču
Comment[hu]=Konfigurációk az érintőpad egértől
Comment[id]=Konfigurasi untuk mouse touchpad Anda
Comment[it]=Configurazioni per il tuo mouse touchpad
Comment[ja]=あなたのタッチパッドマウスの構成
Comment[ko]=터치 패드 마우스 구성
Comment[lt]=Jutiklinės pelės konfigūracijos
Comment[lv]=Tastatūras peles konfigurācijas
Comment[ms]=Konfigurasi untuk tetikus pad sentuh anda
Comment[nb]=Konfigurasjoner for touchpad-musen
Comment[nl]=Configuraties voor uw touchpad-muis
Comment[no]=Konfigurasjoner for touchpad-musen
Comment[pl]=Konfiguracje dla myszy touchpad
Comment[pt]=Configurações para o mouse do touchpad
Comment[ro]=Configurații pentru mouse-ul touchpadului
Comment[sk]=Konfigurácie myši touchpadu
Comment[sl]=Konfiguracije za miško na dotik
Comment[sr]=Конфигурације за ваш тоуцхпад миш
Comment[sv]=Konfigurationer för din pekskärmsmus
Comment[te]=మీ టచ్ప్యాడ్ మౌస్ కోసం కాన్ఫిగరేషన్లు
Comment[tl]=Mga Configuration para sa iyong touchpad mouse
Comment[tr]=Touchpad fareniz için yapılandırmalar
Comment[uk]=Конфігурації для миші для сенсорної панелі
Comment[vi]=Cấu hình cho chuột touchpad của bạn
Icon=input-touchpad
Exec=touchpad-configurator --load
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
