[Desktop Entry]
Name=Support Elive with a donation
Name[az]=Bir hədiyyə ilə Elive dəstək
Name[bg]=Подкрепете Elive с дарение
Name[bn]=একটি অনুদান সঙ্গে Elive সমর্থন
Name[ca]=Suporta a Elive amb una donació
Name[cs]=Podporujte Elive s darováním
Name[da]=Støtte Elive med en donation
Name[de]=Unterstützen Sie Elive mit einer Spende
Name[el]=Υποστηρίξτε τον Elive με μια δωρεά
Name[eo]=Subtenu Elive kun donaco
Name[es]=Apoya a Elive con una donación
Name[et]=Toetage Elive annetusega
Name[fi]=Tuki Elive lahjoitus
Name[fr]=Soutenez Elive avec un don
Name[hi]=एक दान के साथ Elive सहायता
Name[hr]=Podrška Elite s donacijom
Name[hu]=Támogassa az Elive-t egy adományozással
Name[id]=Dukung Elive dengan sumbangan
Name[it]=Sostieni Elive con una donazione
Name[ja]=寄付でEliveをサポート
Name[ko]=기부금으로 Elive를 지원하십시오.
Name[lt]=Palaikykite Elive su donorystėmis
Name[lv]=Atbalstiet Elive ar ziedojumu
Name[ms]=Sokongan Elive dengan sumbangan
Name[nb]=Støtte Elive med en donasjon
Name[nl]=Ondersteun Elive met een gift
Name[no]=Støtte Elive med en donasjon
Name[pl]=Wspieraj Elive za pomocą darowizny
Name[pt]=Suporte Elive com uma doação
Name[ro]=Sprijiniți-l pe Elive cu o donație
Name[sk]=Podporujte spoločnosť Elive s darom
Name[sl]=Podpirajte Elive z donacijo
Name[sr]=Подржите Еливе са донацијом
Name[sv]=Stöd Elive med en donation
Name[te]=విరాళం తో మద్దతు ఇవ్వండి
Name[tl]=Suportahan ang Elive na may donasyon
Name[tr]=Bağış ile Elive'ı destekle
Name[uk]=Підтримка Еліва з пожертвуванням
Name[vi]=Hỗ trợ Elive với sự đóng góp
Comment=Suggest a donation monthly to keep this project alive
Comment[az]=Bu layihəni canlı saxlamaq üçün bir aylıq ianə təklif edin
Comment[bg]=Предложете месечно дарение, за да поддържате този проект жив
Comment[bn]=এই প্রকল্প জীবিত রাখা মাসিক একটি দান সুপারিশ
Comment[ca]=Suggereix una donació mensual per mantenir viu aquest projecte
Comment[cs]=Navrhněte měsíční dar, aby byl tento projekt živý
Comment[da]=Foreslå en donation månedligt for at holde dette projekt levende
Comment[de]=Schlage monatlich eine Spende vor, um dieses Projekt am Leben zu erhalten
Comment[el]=Προτείνετε μια δωρεά μηνιαίως για να κρατήσετε ζωντανό αυτό το έργο
Comment[en]=Suggest a donation monthly to keep this project alive
Comment[eo]=Proponu monatan donacon por konservi ĉi tiun projekton viva
Comment[es]=Sugiera una donación mensual para mantener vivo este proyecto
Comment[et]=Soovita annetusi kuus, et see projekt oleks elus
Comment[fi]=Ehdota lahjoitusta kuukausittain pitämään tämä projekti elossa
Comment[fr]=Proposer un don mensuel pour garder ce projet en vie
Comment[hi]=इस परियोजना को जिंदा रखने के लिए एक दान का मासिक सुझाव दें
Comment[hr]=Predložite mjesečnu donaciju kako bi ovaj projekt živ
Comment[hu]=Javasoljon egy adományt havonta, hogy életben tartsa ezt a projektet
Comment[id]=Sarankan sumbangan setiap bulan agar proyek ini tetap hidup
Comment[it]=Suggerisci una donazione mensile per mantenere vivo questo progetto
Comment[ja]=このプロジェクトを生き続けるために毎月寄付を提案する
Comment[ko]=이 프로젝트를 지속시키기 위해 매달 기부 제안
Comment[lt]=Siūlykite mėnesinį auką, kad šis projektas būtų gyvas
Comment[lv]=Ieteikt ziedojumu katru mēnesi, lai šis projekts būtu dzīvs
Comment[ms]=Cadangkan sumbangan bulanan untuk memastikan projek ini terus hidup
Comment[nb]=Foreslå en donasjon hver måned for å holde dette prosjektet levende
Comment[nl]=Stel maandelijks een donatie voor om dit project levend te houden
Comment[no]=Foreslå en donasjon hver måned for å holde dette prosjektet levende
Comment[pl]=Zaproponuj darowiznę miesięczną, aby utrzymać ten projekt
Comment[pt]=Sugira uma doação mensal para manter este projeto vivo
Comment[ro]=Sugerați o donație lunară pentru a menține acest proiect în viață
Comment[sk]=Navrhnite mesačnú darcovskú podporu, aby bol tento projekt nažive
Comment[sl]=Predlagajte mesečno donacijo za ohranitev tega projekta
Comment[sr]=Предложите донацију месечно како би овај пројекат био жив
Comment[sv]=Föreslå en donation varje månad för att hålla detta projekt levande
Comment[te]=ఈ ప్రాజెక్ట్ను సజీవంగా ఉంచడానికి నెలవారీ విరాళాన్ని సూచించండి
Comment[tl]=Magmungkahi ng buwanang donasyon upang mapanatiling buhay ang proyektong ito
Comment[tr]=Bu projeyi canlı tutmak için her ay bir bağış önerin
Comment[uk]=Запропонуйте пожертвування щомісяця, щоб цей проект був живий
Comment[vi]=Đề nghị đóng góp hàng tháng để duy trì dự án này
Icon=logo-elive
Exec=elive-donations-support
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
