[Desktop Entry]
Name=Elive reconfigurations
Comment=It loads needed configurations or changes for Elive
Comment[az]=Elive üçün lazımlı konfiqurasiyalar və ya dəyişikliklər yüklənir
Comment[bg]=Зарежда необходимите конфигурации или промени за Elive
Comment[bn]=এটি প্রয়োজনীয় কনফিগারেশন বা Elive জন্য পরিবর্তন লোড
Comment[ca]=Carrega les configuracions o canvis necessaris per a Elive
Comment[cs]=Načte potřebné konfigurace nebo změny pro aplikaci Elive
Comment[da]=Den indlæser nødvendige konfigurationer eller ændringer til Elive
Comment[de]=Lädt benötigte Konfigurationen oder führt Änderungen für Elive durch
Comment[el]=Φορτώνει τις απαραίτητες διαμορφώσεις ή αλλαγές για το Elive
Comment[eo]=Ĝi ŝarĝas bezonajn agordojn aŭ ŝanĝojn por Elive
Comment[es]=Carga las configuraciones necesarias o realiza cambios para Elive
Comment[et]=See laadib Elive jaoks vajalikud konfiguratsioonid või muudatused
Comment[fi]=Se lataa Elivelle tarvittavat kokoonpanot tai muutokset
Comment[fr]=Charge les configurations nécessaires ou effectue des changements pour Elive
Comment[hi]=यह आवश्यक कॉन्फ़िगरेशन या एलिव के लिए परिवर्तन लोड करता है
Comment[hr]=Učitava potrebne konfiguracije ili promjene za Elive
Comment[hu]=A szükséges konfigurációkat vagy változásokat az Elive-hez töltik
Comment[id]=Ini membutuhkan konfigurasi atau perubahan yang diperlukan untuk Elive
Comment[it]=Carica le configurazioni o le modifiche necessarie per Elive
Comment[ja]=Eliveのために必要な設定をロードするか、変更を行います
Comment[ko]=Elive에 필요한 구성 또는 변경 사항을로드합니다.
Comment[lt]=Jis įkelia Elive reikalingas konfigūracijas ar pakeitimus
Comment[lv]=Tas ielādē nepieciešamās konfigurācijas vai izmaiņas Elive
Comment[ms]=Ia banyak diperlukan konfigurasi atau perubahan untuk Elive
Comment[nb]=Den laster nødvendige konfigurasjoner eller endringer for Elive
Comment[nl]=Het laadt de benodigde configuraties of wijzigingen voor Elive
Comment[no]=Den laster nødvendige konfigurasjoner eller endringer for Elive
Comment[pl]=Ładuje potrzebne konfiguracje lub zmiany dla Elive
Comment[pt]=Carrega configurações ou alterações necessárias para o Elive
Comment[ro]=Încărcă configurațiile sau schimbările necesare pentru Elive
Comment[sk]=Nakladá potrebné konfigurácie alebo zmeny pre spoločnosť Elive
Comment[sl]=Naloži potrebne konfiguracije ali spremembe za Elive
Comment[sr]=Она учитава потребне конфигурације или измене за Еливе
Comment[sv]=Den laddar nödvändiga konfigurationer eller ändringar för Elive
Comment[te]=ఇది అవసరమైన ఆకృతీకరణలు లేదా ఎలివ్ కోసం మార్పులను లోడ్ చేస్తుంది
Comment[tl]=Ito ay naglo-load ng mga configuration o mga pagbabago para sa Elive
Comment[tr]=Elive için gerekli yapılandırmaları veya değişiklikleri yükler
Comment[uk]=Він завантажує необхідні конфігурації або зміни для Elive
Comment[vi]=Nó tải cấu hình cần thiết hoặc thay đổi cho Elive
Icon=logo-elive
Exec=elive-reconfigurations
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
