[Desktop Entry]
Name=Select Wifi to connect
Name[az]=Qoşulmaq üçün Wifi seçin
Name[bg]=Изберете Wifi за свързване
Name[bn]=সংযোগ ওয়াইফাই নির্বাচন করুন
Name[ca]=Seleccioneu Wifi per connectar-vos
Name[cs]=Zvolte Wifi pro připojení
Name[da]=Vælg Wifi for at oprette forbindelse
Name[de]=Wählen Sie Wi-Fi, um eine Verbindung herzustellen
Name[el]=Επιλέξτε Wifi για σύνδεση
Name[eo]=Elektu Wifi por konekti
Name[es]=Seleccionar Wi-Fi para conectarse
Name[et]=Valige Wifi ühenduse loomiseks
Name[fi]=Valitse Wifi yhteyden muodostamiseksi
Name[fr]=Sélectionner le Wi-Fi pour se connecter
Name[hi]=कनेक्ट करने के लिए वाईफ़ाई का चयन करें
Name[hr]=Odaberite Wifi za povezivanje
Name[hu]=Válassza a Wifi lehetőséget a kapcsolat létrehozásához
Name[id]=Pilih Wifi untuk terhubung
Name[it]=Selezionare Wifi per connettersi
Name[ja]=接続する無線LANを選択
Name[ko]=연결할 무선 랜을 선택하십시오.
Name[lt]=Pasirinkite'Wi-Fi'prisijungti
Name[lv]=Izvēlieties Wi-Fi, lai izveidotu savienojumu
Name[ms]=Pilih Wifi untuk disambungkan
Name[nb]=Velg Wifi for å koble til
Name[nl]=Selecteer Wifi om verbinding te maken
Name[no]=Velg Wifi for å koble til
Name[pl]=Wybierz Wi-Fi, aby się połączyć
Name[pt]=Selecione Wifi para conectar
Name[ro]=Selectați Wifi pentru a vă conecta
Name[sk]=Ak chcete pripojiť, vyberte Wifi
Name[sl]=Izberite Wifi za povezavo
Name[sr]=Изаберите Вифи за повезивање
Name[sv]=Välj Wifi för att ansluta
Name[te]=కనెక్ట్ చేయడానికి వైఫైని ఎంచుకోండి
Name[tl]=Piliin ang Wifi upang kumonekta
Name[tr]=Bağlanmak için Wifi'yi seçin
Name[uk]=Виберіть Wi-Fi для підключення
Name[vi]=Chọn Wifi để kết nối
Comment=Show the connections menu if you are not connected to internet
Comment[az]=İnternetə qoşulmasanız, əlaqələr menyusunu göstərin
Comment[bg]=Покажете менюто за връзки, ако не сте свързани с интернет
Comment[bn]=আপনি ইন্টারনেটে সংযুক্ত না থাকলে সংযোগ মেনুটি দেখান
Comment[ca]=Mostra el menú de connexions si no esteu connectat a Internet
Comment[cs]=Zobrazit nabídku připojení, pokud nejste připojeni k internetu
Comment[da]=Vis forbindelsesmenuen, hvis du ikke har forbindelse til internettet
Comment[de]=Zeigen Sie das Verbindungsmenü an, wenn Sie nicht mit dem Internet verbunden sind
Comment[el]=Εμφανίστε το μενού συνδέσεων εάν δεν είστε συνδεδεμένοι στο διαδίκτυο
Comment[eo]=Montru la ligilojn se vi ne estas konektita al interreto
Comment[es]=Mostrar el menú de conexiones si no estás conectado a internet
Comment[et]=Näitab ühenduste menüüd, kui te pole Internetiga ühendatud
Comment[fi]=Näytä yhteysvalikko, jos et ole yhteydessä internetiin
Comment[fr]=Afficher le menu des connexions si vous n'êtes pas connecté à internet
Comment[hi]=यदि आप इंटरनेट से कनेक्ट नहीं हैं तो कनेक्शन मेनू दिखाएं
Comment[hr]=Prikažite izbornik veza ako niste povezani s internetom
Comment[hu]=Ha nem csatlakozik az internethez, akkor adja meg a kapcsolatok menüt
Comment[id]=Tampilkan menu koneksi jika Anda tidak terhubung ke internet
Comment[it]=Mostra il menu connessioni se non sei connesso a Internet
Comment[ja]=インターネットに接続していない場合は接続メニューを表示する
Comment[ko]=인터넷에 연결되어 있지 않으면 연결 메뉴 표시
Comment[lt]=Parodykite jungčių meniu, jei nesate prisijungę prie interneto
Comment[lv]=Parādiet savienojumu izvēlni, ja neesat izveidojis savienojumu ar internetu
Comment[ms]=Tunjukkan menu sambungan jika anda tidak disambungkan ke internet
Comment[nb]=Vis tilkoblingsmenyen hvis du ikke er koblet til Internett
Comment[nl]=Toon het menu verbindingen als u niet verbonden bent met internet
Comment[no]=Vis tilkoblingsmenyen hvis du ikke er koblet til Internett
Comment[pl]=Pokaż menu połączeń, jeśli nie masz połączenia z internetem
Comment[pt]=Mostre o menu de conexões se você não estiver conectado à Internet
Comment[ro]=Afișați meniul de conexiuni dacă nu sunteți conectat la internet
Comment[sk]=Ak nie ste pripojení na internet, zobrazte ponuku spojenia
Comment[sl]=Prikažite meni povezav, če niste povezani v internet
Comment[sr]=Покажите мени повезивања ако нисте повезани на Интернет
Comment[sv]=Visa anslutningsmenyn om du inte är ansluten till internet
Comment[te]=మీరు ఇంటర్నెట్కు కనెక్ట్ కానట్లయితే కనెక్షన్ల మెనుని చూపు
Comment[tl]=Ipakita ang mga koneksyon sa menu kung hindi ka nakakonekta sa internet
Comment[tr]=İnternet'e bağlı değilseniz bağlantı menüsünü gösterin
Comment[uk]=Показати меню підключень, якщо ви не підключені до Інтернету
Comment[vi]=Hiển thị trình đơn kết nối nếu bạn không kết nối internet
Icon=logo-elive
Exec=wifi-select-popup
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
