[Desktop Entry]
Name=Elive Health
Comment=Check the status health
Comment[az]=Status sağlamlığını yoxlayın
Comment[bg]=Проверете състоянието на здравето
Comment[bn]=অবস্থা স্বাস্থ্য দেখুন
Comment[ca]=Comproveu l'estat de salut
Comment[cs]=Zkontrolujte zdravotní stav
Comment[da]=Kontroller status sundhed
Comment[de]=Überprüfen Sie den Status Gesundheit
Comment[el]=Ελέγξτε την κατάσταση της υγείας
Comment[eo]=Kontrolu la statusan sanon
Comment[es]=Verifica el estado de salud
Comment[et]=Kontrollige seisundi tervist
Comment[fi]=Tarkista tilan terveydentila
Comment[fr]=Vérifier l'état de santé
Comment[hi]=स्थिति स्वास्थ्य की जांच करें
Comment[hr]=Provjerite stanje zdravlja
Comment[hu]=Ellenőrizze az állapot állapotát
Comment[id]=Periksa status kesehatannya
Comment[it]=Controlla lo stato di salute
Comment[ja]=ステータスの状態を確認する
Comment[ko]=상태 상태 확인
Comment[lt]=Patikrinkite statuso sveikatą
Comment[lv]=Pārbaudiet statusa veselību
Comment[ms]=Semak kesihatan status
Comment[nb]=Sjekk statushelsen
Comment[nl]=Controleer de status status
Comment[no]=Sjekk statushelsen
Comment[pl]=Sprawdź stan zdrowia
Comment[pt]=Verifique a saúde do estado
Comment[ro]=Verificați starea sănătății
Comment[sk]=Skontrolujte stav zdravia
Comment[sl]=Preverite stanje zdravja
Comment[sr]=Проверите здравствено стање
Comment[sv]=Kontrollera statushälsan
Comment[te]=స్థితి ఆరోగ్య తనిఖీ
Comment[tl]=Suriin ang kalagayan ng kalusugan
Comment[tr]=Durum sağlığını kontrol et
Comment[uk]=Перевірте стан здоров'я
Comment[vi]=Kiểm tra tình trạng trạng thái
Icon=logo-elive
Exec=elive-health
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
