[Desktop Entry]
Name=Elive Health
Comment=Checks the health of the system and hardware
Comment[az]=Sistemin və donanımın sağlamlığını yoxlayır
Comment[bg]=Проверява здравето на системата и хардуера
Comment[bn]=সিস্টেম এবং হার্ডওয়্যার স্বাস্থ্য পরীক্ষা করে
Comment[ca]=Comprova la salut del sistema i el maquinari
Comment[cs]=Kontroluje zdravotní stav systému a hardware
Comment[da]=Kontrollerer systemets og hardwareens sundhed
Comment[de]=Überprüft den Zustand des Systems und der Hardware
Comment[el]=Ελέγχει την υγεία του συστήματος και του υλικού
Comment[eo]=Kontrolas la sanon de la sistemo kaj aparataro
Comment[es]=Verifica el estado del sistema y el hardware
Comment[et]=Kontrollib süsteemi ja riistvara tervist
Comment[fi]=Tarkistaa järjestelmän ja laitteiston terveyden
Comment[fr]=Vérifie la santé du système et du matériel
Comment[hi]=सिस्टम और हार्डवेयर के स्वास्थ्य की जांच करता है
Comment[hr]=Provjera zdravlja sustava i hardvera
Comment[hu]=Ellenőrzi a rendszer és a hardver egészségét
Comment[id]=Memeriksa kesehatan sistem dan perangkat keras
Comment[it]=Controlla lo stato del sistema e dell'hardware
Comment[ja]=システムとハードウェアの健全性をチェックします。
Comment[ko]=시스템 및 하드웨어 상태 검사
Comment[lt]=Patikrina sistemos ir aparatūros sveikatą
Comment[lv]=Pārbauda sistēmas un aparatūras veselību
Comment[ms]=Memeriksa kesihatan sistem dan perkakasan
Comment[nb]=Kontrollerer helsen til systemet og maskinvaren
Comment[nl]=Controleert de gezondheid van het systeem en de hardware
Comment[no]=Kontrollerer helsen til systemet og maskinvaren
Comment[pl]=Sprawdza stan systemu i sprzętu
Comment[pt]=Verifica a integridade do sistema e do hardware
Comment[ro]=Verifică starea de sănătate a sistemului și a hardware-ului
Comment[sk]=Skontroluje zdravie systému a hardvéru
Comment[sl]=Preveri zdravje sistema in strojne opreme
Comment[sr]=Проверава здравље система и хардвера
Comment[sv]=Kontrollerar systemets och maskinens hälsa
Comment[te]=వ్యవస్థ మరియు హార్డ్వేర్ యొక్క ఆరోగ్యాన్ని తనిఖీ చేస్తుంది
Comment[tl]=Sinusuri ang kalusugan ng system at hardware
Comment[tr]=Sistemin ve donanımın sağlığını kontrol eder
Comment[uk]=Перевіряє стан системи та обладнання
Comment[vi]=Kiểm tra sức khỏe của hệ thống và phần cứng
Icon=logo-elive
Exec=elive-health
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
