[Desktop Entry]
Name=Audio volumes restore
Name[az]=Audio həcmləri bərpa edin
Name[bg]=Аудио обемите се възстановяват null
Name[bn]=অডিও ভলিউম পুনরুদ্ধার null
Name[ca]=Restauració de volums d'àudio
Name[cs]=Obnovení hlasitosti zvuku
Name[da]=Lydvolumener gendannes
Name[de]=Audio-Volumes wiederherstellen
Name[el]=Ο τόμος ήχου αποκαθίσταται null
Name[en]=Audio volumes restore
Name[eo]=Aŭdaj volumoj restarigas
Name[es]=Restaurar los volúmenes de audio
Name[et]=Helitugevused taastatakse
Name[fi]=Äänenvoimakkuus palautuu
Name[fr]=Restauration des volumes audio
Name[hi]=ऑडियो संस्करण बहाल null
Name[hr]=Vraćanje audio zapisa
Name[hu]=Az audió kötetek visszaállíthatók
Name[id]=Volume audio mengembalikan
Name[it]=Ripristino dei volumi audio
Name[ja]=オーディオボリュームの復元 null
Name[ko]=오디오 볼륨 복원 null
Name[lt]=Garso tonai atkuriami
Name[lv]=Audio apjomi tiek atjaunoti
Name[ms]=Volum audio pulih
Name[nb]=Lydvolum gjenopprettes
Name[nl]=Audio volumes herstellen
Name[no]=Lydvolum gjenopprettes
Name[pl]=Odzyskanie woluminów audio
Name[pt]=Restauração dos volumes de áudio
Name[ro]=Volumele audio restabilește
Name[sk]=Obnovenie zvukového zväzku
Name[sl]=Obnovi zvok
Name[sr]=Вратити аудио записе null
Name[sv]=Ljudvolymer återställs
Name[te]=ఆడియో వాల్యూమ్లను పునరుద్ధరించండి null
Name[tl]=Ibalik ang mga volume ng audio
Name[tr]=Ses seviyeleri geri yükle
Name[uk]=Відновлюються аудіообсяги null
Name[vi]=Âm lượng khôi phục
Comment=Restore correct audio volumes at start
Comment[az]=Başlanğıcda düzgün audio həcmlərini bərpa edin
Comment[bg]=Възстановете правилните аудио обеми в началото null
Comment[bn]=শুরুতে সঠিক অডিও ভলিউম পুনরুদ্ধার করুন null
Comment[ca]=Restaura els volums d'àudio correctes al començament
Comment[cs]=Obnovte správné zvukové svazky na začátku
Comment[da]=Gendan korrekte lydmængder ved start
Comment[de]=Wiederherstellen der korrekten Audio-Volumes beim Start
Comment[el]=Επαναφορά σωστών τόμων ήχου κατά την εκκίνηση null
Comment[en]=Restore correct audio volumes at start
Comment[eo]=Restarigu korektajn aŭdajn volumojn ĉe la komenco
Comment[es]=Restaure los volúmenes de audio correctos al inicio
Comment[et]=Taasta õige heli maht alguses
Comment[fi]=Palauta oikeat äänenvoimakkuudet alussa
Comment[fr]=Restaurer les volumes audio corrects au démarrage
Comment[hi]=शुरुआत में सही ऑडियो संस्करण पुनर्स्थापित करें null
Comment[hr]=Vratite ispravne audio zapise na početak
Comment[hu]=Helyes hangerő visszaállítása a kezdeteknél
Comment[id]=Kembalikan volume audio yang benar saat start
Comment[it]=Ripristinare i volumi audio corretti all'avvio
Comment[ja]=開始時に正しいオーディオボリュームを復元する null
Comment[ko]=시작시 올바른 오디오 볼륨 복원 null
Comment[lt]=Iš pradžių atkurkite teisingus garso tomus
Comment[lv]=Atjaunojiet pareizos audio apjomus sākumā
Comment[ms]=Pulihkan jumlah audio yang betul pada permulaan
Comment[nb]=Gjenopprett korrekte lydvolumer ved start
Comment[nl]=Herstel de juiste geluidsvolumes bij het starten
Comment[no]=Gjenopprett korrekte lydvolumer ved start
Comment[pl]=Przywróć prawidłowe głośności dźwięku na początku
Comment[pt]=Restaure os volumes de áudio corretos no início
Comment[ro]=Restaurați volumele audio corecte la pornire
Comment[sk]=Obnovte správne zvukové zväzky na začiatku
Comment[sl]=Ob zagonu obnovite pravilne glasbene zvočne datoteke
Comment[sr]=Вратите тачне аудио записе на почетку null
Comment[sv]=Återställ rätt ljudvolymer vid start
Comment[te]=ప్రారంభంలో సరైన ఆడియో వాల్యూమ్లను పునరుద్ధరించండి null
Comment[tl]=Ibalik ang tamang mga volume ng audio sa simula
Comment[tr]=Başlangıçta doğru ses seviyelerini geri yükleyin
Comment[uk]=Відновіть правильні обсяги звуку на початку null
Comment[vi]=Khôi phục âm thanh chính xác khi bắt đầu
Icon=logo-elive
Exec=elive-audio-fixes
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
